{% extends 'base.html.twig' %}

{% block subject %}{{ data->uri->getHostName() }} - Verify Your Email{% endblock %}

{% block content %}
  <h4>Hey {{ data->user->profile->firstName }},</h4>

  <p>
      Thanks for signing up with us at {{ data->uri->getHostName() }}!
  </p>

  <p>
      In order to use your new account, you'll need to
      <a href="{{ data->uri->getBaseUrl()}}/api/verifyemail/{{ data->token }}">confirm your email address.</a>
  </p>
{% endblock %}